{% extends 'base.html' %}
{% block title %}软件管理{% endblock %}

{% block content %}
<div class="margin">
    <form action="/service/" method="post">
        {% csrf_token %}
        
		组别:&nbsp;
        <select name="group">
			{% for group in groups %}
			<option value="{{ group }}">{{ group }}</option> 
			{% endfor %}
		</select>
		&nbsp;&nbsp;&nbsp;&nbsp;
        
		服务名称:&nbsp;<input type="text" name="name" placeholder="">
        &nbsp;&nbsp;&nbsp;&nbsp;
        
        pattern:&nbsp;
        <input type="text" name="pattern">
        &nbsp;&nbsp;&nbsp;&nbsp;
                
		动作:&nbsp;
        <select name="action">
			<option value="started">启动</option> 
			<option value="stoped">停止</option> 
		</select>
		&nbsp;&nbsp;&nbsp;&nbsp;
		
        <input type="submit" value="提交">
    </form>
{% include 'result.html' %}
</div>
{% endblock %}
