{% extends 'base.html' %}
{% block title %}文件分发{% endblock %}

{% block content_title %}文件分发{% endblock %}

{% block content %}
<div class="margin">
<form enctype="multipart/form-data" action="/copy/" method="post">
	{% csrf_token %}
	组别:&nbsp;
	<select name="group">  
		{% for group in groups %}
		  <option value ="{{ group }}">{{ group }}</option> 
		{% endfor %}
	</select>
	&nbsp;&nbsp;&nbsp;&nbsp;
	
	文件:&nbsp;<input type="file" id="file" name="file" />
		
	目标路径:&nbsp;<input type="text" id="dest" name="dest">
	&nbsp;&nbsp;&nbsp;&nbsp;
	
	<input type="submit" onclick="return isEmpty()" value="提交"/>
</form>
{% include 'result.html' %}
</div>
{% endblock %}
