{% extends 'base.html' %}
{% block title %}计划任务{% endblock %}

{% block content_title %}计划任务{% endblock %}

{% include 'script.html' %}

{% block content %}
<div class="margin">
    <form action="/crontab/" method="post">
        {% csrf_token %}
        
		组别:&nbsp;
        <select name="group">
			{% for group in groups %}
			<option value="{{ group }}">{{ group }}</option> 
			{% endfor %}
		</select>
		&nbsp;&nbsp;&nbsp;&nbsp;

		任务名称:&nbsp;
		<input type="text" id="name" name="name">
		&nbsp;&nbsp;&nbsp;&nbsp;
				
		动作:&nbsp;
		<select id="action" name="action" onchange="content()">
			<option value="create">创建</option>
			<option value="delete">删除</option>
		</select>
		&nbsp;&nbsp;&nbsp;&nbsp;
		
        <input type="submit" onclick="return isEmpty()" value="提交">
		
		<br/>
		备份:&nbsp;
		<select name="backup">
			<option value="True">是</option>
			<option value="False">否</option>
		</select>
		&nbsp;&nbsp;&nbsp;&nbsp;
		
		<span id="content">
		执行时间:&nbsp;
		<input type="text" name="time">
		&nbsp;&nbsp;&nbsp;&nbsp;
		
		任务内容:&nbsp;
		<input type="text" name="job">
		&nbsp;&nbsp;&nbsp;&nbsp;
		</span>    
    </form>
{% include 'result.html' %}
</div>
{% endblock %}
