{% extends 'base.html' %}
{% block title %}新建/删除{% endblock %}

{% block content_title %}新建/删除{% endblock %}

{% block content %}
<div class="margin">
    <form action="/file/" method="post">
        {% csrf_token %}
        
		组别:&nbsp;
        <select name="group">
			{% for group in groups %}
			<option value ="{{ group }}">{{ group }}</option> 
			{% endfor %}
		</select>
        &nbsp;&nbsp;&nbsp;&nbsp;
        
		目标对象:&nbsp;
		<input type="text" id="dest" name="dest" placeholder="需要操作的文件或目录">
        &nbsp;&nbsp;&nbsp;&nbsp;
        
		<br/>
		动作:&nbsp;
        <select name="action">
			<option value="touch">新建文件</option>
			<option value="directory">新建目录</option>
			<option value="absent">删除文件/目录</option>
        	<option value="modify">修改属性</option>
		</select>
		&nbsp;&nbsp;&nbsp;&nbsp;
		
		其他参数:&nbsp;
		<input type="text" name="params" placeholder="如：owner=root mode=755">
		&nbsp;&nbsp;&nbsp;&nbsp;
        
        <input type="submit" onclick="return file()" value="提交">
    </form>
{% include 'result.html' %}
</div>
{% endblock %}

