{% extends 'base.html' %}
{% block title %}节点管理———主机管理{% endblock %}

{% block content_title %}主机管理{% endblock %}

{% block content %}
</div class="margin">
	<h4 style="font-weight:bold;">添加主机：</h4>
<div>

<form action="/host/" method="post">
        {% csrf_token %}
		主机名:&nbsp;<input type="text" name="name" required>
        &nbsp;&nbsp;&nbsp;&nbsp;
		组别:&nbsp;
		<select id="group" name="group" required>
				<option></option>
			{% for group in groups %}
		  		<option value="{{ group }}">{{ group }}</option> 
			{% endfor %}
		</select>
		&nbsp;&nbsp;&nbsp;&nbsp;
		认证用户:&nbsp;<input type="text" name="auth_user" required>
        &nbsp;&nbsp;&nbsp;&nbsp;
		
		<input type="submit" value="添加" />
		<hr>
</form>		

<div class="margin">
	<h4 style="font-weight:bold;">主机列表：</h4>
</div>

<div>

<table class="table table-striped">
<!--   <caption>上下文表格布局</caption> -->
  <thead>
    <tr>
      
      <th>主机名</th>
      <th>组别</th>
      <th>认证用户</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="add">
<!-- active, success, warning, danger,  -->
    {% for host in hosts %}
    <tr id="{{ host.name }}">
	  <td>{{ host.name }}</td>
	  <td>{{ host.group }}</td>
	  <td>{{ host.auth_user }}</td>
      <td><button type="button" class="close" onclick="delhost(this)">×</button></td>
      <td></td>
	</tr>
	{% endfor %}
  </tbody>
</table>
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p id="myModalBody">One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>



<!-- 进度条 -->
<!-- <div class="progress"> -->
<!--   <div class="bar" style="width: {{ persentage }}%;"></div> -->
<!-- </div> -->

<!-- {% include 'result.html' %} -->

{% endblock %}