{% extends 'base.html' %}
{% block title %}一键部署{% endblock %}

{% block content_title %}部署{% endblock %}

{% block content %}
<div class="margin">

	<form class="add" id="add" action="/one/" method="post" >
	{% csrf_token %}
		选择组别:&nbsp;
		<select name="group">
			{% for group in groups %}
		  		<option value="{{ group }}">{{ group }}</option> 
			{% endfor %}
		</select>
	</form>


	添加操作:&nbsp;
	<select id="additem" name="additem">
		<option value="file">新建/删除</option>
		<option value="copy">文件分发</option>
		<option value="service">服务管理</option>
		<option value="software">软件管理</option>
	</select>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<button onclick="additem()">添加</button>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<button onclick="return submitit()">提交</button>
<hr>
</div>
{% include 'result.html' %}

{% endblock %}
