{% extends 'base.html' %}
{% block title %}服务管理{% endblock %}

{% block content_title %}服务管理{% endblock %}

{% block content %}
<div class="margin">
    <form action="/service/" method="post">
        {% csrf_token %}
        
		组别:&nbsp;
        <select name="group" required>
			<option></option>
			{% for group in groups %}
			<option value="{{ group }}">{{ group }}</option> 
			{% endfor %}
		</select>
		&nbsp;&nbsp;&nbsp;&nbsp;
        
		服务名称:&nbsp;
		<input type="text" id="name" name="name" placeholder="" required />
        &nbsp;&nbsp;&nbsp;&nbsp;
        
		<br/>
		动作:&nbsp;
        <select name="action" required>
			<option></option>
			<option value="started">启动</option> 
			<option value="stopped">停止</option>
            <option value="restarted">重启</option> 
		</select>
		&nbsp;&nbsp;&nbsp;&nbsp;
		
		进程名称:&nbsp;
        <input type="text" name="pattern" placeholder="如：/usr/bin/java" />
        &nbsp;&nbsp;&nbsp;&nbsp;
		
        <input type="submit" value="提交">
    </form>
{% include 'result.html' %}
</div>
{% endblock %}
