{% extends 'base.html' %}
{% block title %}执行命令{% endblock %}

{% block content %}
<div class="margin">
    <form action="/shell/" method="post">
        {% csrf_token %}
        
 		组别:&nbsp;
        <select name="group">
			{% for group in groups %}
			<option value="{{ group }}">{{ group }}</option> 
			{% endfor %}
		</select>
		&nbsp;&nbsp;&nbsp;&nbsp;
		
		命令内容:&nbsp;<input type="text" id="cmd" name="cmd">
        &nbsp;&nbsp;&nbsp;&nbsp;
        
        <input type="submit" onclick="return isEmpty()" value="提交">
    </form>
{% include 'result.html' %}
</div>
{% endblock %}